/vendor/

/.env
/.env.local
/config.php

/cache/
/tmp/
/logs/

/phpunit.xml
/phpunit.xml.dist
/tests/_output/
/tests/_support/_generated/
/tests/results/

*.log
*.cache
*.tmp
*.swp
*.bak
*.orig

.idea/
.vscode/
nbproject/
*.iml

.DS_Store
Thumbs.db
desktop.ini

/tests/*.db
/tests/*.sqlite
/tests/tmp/

